/node_modules
/public/hot
/public/img/product
/public/img/employee/*.JPG
/public/img/employee/*.jpg
/public/img/employee/*.jpeg
/public/img/employee/*.JPEG
/public/img/employee/*.png
/public/img/employee/*.PNG
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
